* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    width: 98%;
    display: flex;
    justify-content: right;
    margin-right: 1vw;
    margin-top: 2vw;
    top: 0;
    z-index: 2;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 0 0 1vw;
    border-radius: 1.5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    padding: 0.5vw 1vw 0.5vw 1vw;
    transition: color 0.3s, transform 0.3s;
}

nav a:hover {
    transform: translate(0, -0.4vw);
    color: white;
}

nav .fa {
    font-size: 1.3vw;
}

#sidebar {
    display: none;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-section {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
}

#home-bg {
    background-image: url(../images/code_background.jpeg);
    background-size: cover;
    background-position: 0 -15vw;
}

#header {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 3.5vw;
    margin-bottom: 4vw;
}

#header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 7vw;
    margin: -3vw 0 0 0;
    color: transparent;
    -webkit-text-stroke-width: 0.2vw;
    -webkit-text-stroke-color: white;
    transition: color 0.3s;
}

#header h1:hover {
    color: white;
}

#header p {
    color: rgba(255, 255, 255, 0.514);
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    margin-top: -1vw;
    margin-bottom: 2.5vw;
    width: 60%;
}

#header a {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8vw;
    border: 0.1vw solid white;
    padding: 0.6vw 2vw 0.6vw 2vw;
    border-radius: 2vw;
    transition: color 0.3s, background-color 0.3s;
}

#header a:hover {
    background-color: white;
    color: black;
}