#hamburger-icon {
    padding: 0.1vw 3vw 1vw 3vw;
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.514);
    font-size: 8vw;
}

#hamburger-icon:hover {
    color: white;
}

#sidebar {
    height: 100vh;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 11;
    position: fixed;
    right: 0;
    background-color: #4da8da;
    transition: width 0.5s;
}

#sidebar a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 1.5vw 0 1.5vw 0;
    padding: 1vw;
    width: 90%;
    text-align: center;
    border-radius: 5vw;
    white-space: nowrap;
    transition: background-color 0.2s;
}

#sidebar a:hover {
    background-color: #428eb8;
}

#close-button {
    color: white;
    font-size: 7vw;
    padding: 1vw 2.5vw 1vw 2.5vw;
    border-radius: 50%;
    position: absolute;
    top: 5vw;
    left: 5vw;
    cursor: pointer;
    transition: background-color 0.2s;
}

#close-button:hover {
    background-color: #428eb8;
}