html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    overflow: scroll;
    height: 101vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.wrapper::-webkit-scrollbar {
    display: none;
  }

nav {
    z-index: 10;
    text-align: right;
    position: fixed;
    top: 0;
    width: 95%;
    padding: 1vw;
    padding-top: 2vw;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Alfa Slab One', serif;
    font-size: 1.1vw;
    margin: 0 1.5vw;
    transition: color 0.2s;
}

nav a:hover {
    color: #333;
}

nav .fa {
    font-size: 1.7vw;
}

section {
    display: flex;
    height: 100vh;
    scroll-snap-align: start;
    align-items: center;
    position: relative;
}

#welcome {
    background-color: #F8333C;
}

#about {
    background-color: #FCAB10;
}

#social-media {
    background-color: #44AF69;
}

#header {
    color: #DBD5B5;
    position: absolute;
    left: 6vw;
}

#header h1 {
    font-family: 'Alfa Slab One', 'Serif';
    font-size: 7.6vw;
    text-shadow: 0.5vw 0.5vw black;
    margin: 0;
}

#header h3 {
    font-family: 'Slabo 13px', serif;
    font-size: 2.9vw;
    margin: 0;
    margin-bottom: 1vw;
}

#header p {
    margin-top: 3vw;
    font-family: 'Slabo 13px', serif;
    font-size: 1.9vw;
    font-weight: bold;
    width: 50%;
}

#content {
    position: absolute;
    left: 5vw;
    color: white;
}

#content h1 {
    text-shadow: 0.5vw 0.5vw black;
    font-size: 4vw;
    font-family: 'Alfa Slab One', serif;
    width: 70%;
}

#social-media .fa {
    padding: 1.5vw;
    font-size: 3vw;
    width: 3.6vw;
    text-align: center;
    text-decoration: none;
    margin: 1vw 0.8vw;
    box-shadow: 0.3vw 0.3vw black;
    transition: transform 0.3s;
}
  
#social-media .fa:hover {
    transform: translate(0, -1vw);
}
  
#social-media .fa-facebook {
    background: #3B5998;
    color: white;
}

#social-media .fa-linkedin {
    background: #007bb5;
    color: white;
}

#social-media .fa-youtube {
    background: #bb0000;
    color: white;
}

#social-media .fa-github {
    background: #333;
    color: white;
}

#photo {
    position: absolute;
    left: 10vw;
}

#photo img {
    width: 20vw;
    box-shadow: -0.7vw 0.7vw #F8333C;
}

#description {
    position: absolute;
    left: 28vw;
    width: 53%;
    font-size: 1.2vw;
    font-family: 'Slabo 13px', serif;
    padding: 2vw 5vw;
    padding-bottom: 5vw;
    background-color: #DBD5B5;
    box-shadow: -0.7vw 0.7vw rgba(0, 0, 0, 0.356);
}

#description h3 {
    font-family: 'Alfa Slab One', serif;
    font-size: 3vw;
    margin-bottom: 2vw;
}