html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

/* .wrapper { */
    /* overflow: scroll; */
    /* height: 100vh; */
    /* scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory; */
    /* scroll-behavior: smooth; */
    /* -ms-overflow-style: none;  
    scrollbar-width: none;   
} */

/* .wrapper::-webkit-scrollbar {
    display: none;
} */

[data-aos][data-aos][data-aos-delay='3500'].aos-animate, body[data-aos-delay='3500'] [data-aos].aos-animate {
	transition-delay: 3.5s;
}

[data-aos][data-aos][data-aos-delay='5000'].aos-animate, body[data-aos-delay='5000'] [data-aos].aos-animate {
	transition-delay: 5s;
}

nav {
    z-index: 10;
    text-align: right;
    position: fixed;
    top: 0;
    width: 95%;
    padding: 1vw;
    padding-top: 2vw;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Alfa Slab One', serif;
    font-size: 1.1vw;
    margin: 0 1.5vw;
    transition: color 0.2s;
}

nav a:hover {
    color: #333;
}

nav .fa {
    font-size: 1.7vw;
}

section {
    display: flex;
    height: 100vh;
    scroll-snap-align: start;
    align-items: center;
    position: relative;
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 8px 8px;
}

#pic1 {
    background-image: url('../img/titlepage.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

#welcome {
    background-color: #f8333dda;
}

#pic2 {
    background-image: url('../img/IIIT.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#about {
    background-color: #fca910d7;
}

#pic3 {
    background-image: url('../img/Code2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#skills {
    background-color: #2b9fb3ec;
}

#pic4 {
    background-image: url('../img/Code_Background.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

#projects {
    background-color: #4a5999e7;
}

#contact {
    background-color: #dbd5b5e0;
}

#pic6 {
    background-image: url('../img/scenery.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

#social-media {
    background-color: #44af69dc;
}

#header {
    color: #DBD5B5;
    position: absolute;
    left: 6vw;
}

#header h1 {
    font-family: 'Alfa Slab One', 'Serif';
    font-size: 7.6vw;
    text-shadow: 0.5vw 0.5vw black;
    margin: 0;
}

#header h3 {
    font-family: 'Slabo 13px', serif;
    font-size: 2.9vw;
    margin: 0;
    margin-bottom: 1vw;
}

#header p {
    margin-top: 3vw;
    font-family: 'Slabo 13px', serif;
    font-size: 1.9vw;
    font-weight: bold;
    width: 50%;
}

#content {
    position: absolute;
    left: 5vw;
    color: white;
}

#content h1 {
    text-shadow: 0.35vw 0.35vw black;
    font-size: 4vw;
    font-family: 'Alfa Slab One', serif;
    width: 70%;
}

#social-media .fa {
    padding: 1.5vw;
    font-size: 3vw;
    width: 3.6vw;
    text-align: center;
    text-decoration: none;
    margin: 1vw 0.8vw;
    box-shadow: 0.3vw 0.3vw black;
    transition: transform 0.3s;
}
  
#social-media .fa:hover {
    transform: translate(0, -1vw);
}
  
#social-media .fa-facebook {
    background: #3B5998;
    color: white;
}

#social-media .fa-linkedin {
    background: #007bb5;
    color: white;
}

#social-media .fa-youtube {
    background: #bb0000;
    color: white;
}

#social-media .fa-github {
    background: #333;
    color: white;
}

#photo {
    position: absolute;
    left: 10vw;
}

#photo img {
    width: 20vw;
    box-shadow: -0.7vw 0.7vw #F8333C;
}

#description {
    position: absolute;
    left: 28vw;
    width: 53%;
    font-size: 1.2vw;
    font-family: 'Slabo 13px', serif;
    padding: 2vw 5vw;
    padding-bottom: 5vw;
    background-color: #DBD5B5;
    box-shadow: -0.7vw 0.7vw rgba(0, 0, 0, 0.356);
}

#description h3 {
    font-family: 'Alfa Slab One', serif;
    font-size: 3vw;
    margin-bottom: 2vw;
}

#skill-content {
    position: absolute;
    left: 6vw;
    width: 85%;
}

#skills h1 {
    color: white;
    text-shadow: 0.3vw 0.3vw black;
    font-family: 'Alfa Slab One', serif;
    font-size: 4vw;
}

#skills #cards-deck {
    display: flex;
    flex-wrap: wrap;
}

#skills img {
    width: 6vw;
}

#skills .card {
    width: auto;
    padding: 1vw;
    margin-right: 3vw;
    height: 7vw;
    display: flex;
    align-items: center;
    box-shadow: 0.3vw 0.3vw black;
}

#projects #projects-content {
    position: absolute;
    left: 6vw;
    width: 88%;
}

#projects #projects-content h1 {
    color: #DBD5B5;
    text-shadow: 0.3vw 0.3vw black;
    font-family: 'Alfa Slab One', serif;
    font-size: 4vw;
}

#projects #projects-content #list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#projects #projects-content #list .proj {
    position: relative;
}

#projects #projects-content #list .proj img {
    width: 18vw;
    margin-right: 1.81vw;
    box-shadow: 0.3vw 0.3vw black;
    transition: all 0.5s;
}

.overlay {
    position: absolute;
    font-family: 'Oswald', sans-serif;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 1.15vw;
    font-weight: 1000;
    background-color: #2b9fb3de;
    width: 0;
    height: 9vw;
    transition: .5s ease;
}

.proj:hover .overlay {
    width: 91%;
}

.overlay i {
    color: black;
    transition: color 0.5s;
}

.overlay i:hover {
    color: #DBD5B5;
}

/*--*/

/* .proj:hover img {
    width: 22vw;    
}

.overlay:hover .proj img {
    width: 22vw;  
} */
