* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
} 

body {
    background-color: black;
}

section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#main-header {
    background-image: url('Images/Code_Background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: 40%;
}

/***********************************************/

nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9vw;
    display: flex;
    justify-content: center;
}

nav a li {
    float: left;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 1.5% 3% 0.5% 3%;
    border-bottom: 0.15em solid transparent;
    transition: color 0.5s, border-bottom 0.5s;
}

nav a:hover {
    color: #e34234;
    border-bottom: 0.15em solid #e34234;
}

/***********************************************/

header {
    position: absolute;
    top: 50%;
    left: 35%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

header h2 {
    color: #e34234;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 3vw;
    max-width: 100%;
    margin: auto;
    margin-bottom: 1%;
    padding-left: 5%;
}

header h1 {
    color: #e34234;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 8vw;
    max-width: 100%;
    margin: auto;
    padding-left: 5%;
    line-height: 100%;
}

.container {
    margin-top: 3%;
    display: flex;
    justify-content: left;
    padding-left: 5.7%;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.container p {
    font-size: 3vw;
    font-weight: normal;
}

.container p span.typed-text {
    font-weight: normal;
    border-bottom: 0.05em solid white;
    color: #5cdb95;
}

.container p span.cursor {
    display: inline-block;
    background-color: white;
    width: 1%;
    animation: blink 1s infinite;
}

.container p span.cursor.typing {
    animation: none;
}

@keyframes blink {
    0%  { background-color: white; }
    49% { background-color: white; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100% { background-color: white; }
}
