#welcome #laptop #monitor {
    width: 55vw;
    height: 100vw;
    background-image: linear-gradient(to right, #333, black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;
}

#welcome #laptop {
    width: 100%;
    margin: auto;
    display: flex;
    position: absolute;
    bottom: 10vw;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#welcome #laptop #monitor #screen {
    width: 52vw;
    height: 85vw;
    background-color: white;
    border-radius: 0.5vw;
    position: relative;
}

#welcome #laptop #monitor #screen #chatbox {
    border: 0.1vw solid black;
    width: 35vw;
    height: 5vw;
    border-radius: 2vw;
    position: absolute;
    bottom: 1vw;
    left: 1vw;
    padding-left: 2vw;
    background-color: white;
    font-size: 2vw;
    z-index: 2;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

#welcome #laptop #keyboard {
    visibility: hidden;
}

@keyframes append-animate {
	from {
		transform: translateY(200%);
		opacity: 0;
	}
	to {
		transform: translateX(0%);
		opacity: 1;
	}
}

.new-addition {
	animation: append-animate .2s linear;
    animation-timing-function: ease-out;
}

#button {
    visibility: visible;
    background-color: grey;
    width: 4vw;
    height: 4vw;
    position: absolute;
    bottom: 3.7vw;
    border-radius: 50%;
}

#messager-name {
    font-size: 2vw;
}

#top-bar {
    visibility: visible;
    background-color: grey;
    width: 7vw;
    height: 1vw;
    position: absolute;
    bottom: 97vw;
    border-radius: 1vw;
    z-index: 4
}

#send-button {
    width: 24%;
    font-size: 2vw;
    height: 5vw;
    border-radius: 3vw;
}

.text-message {
    font-size: 3vw;
}

#mes1 {
    width: 66%;
}

#mes2 {
    width: 77%;
}

#mes3 {
    width: 61%;
}

#hamburger-icon {
    padding: 0.1vw 2.5vw 0.1vw 2.5vw;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
    font-size: 8vw;
}

#hamburger-icon:hover {
    background-color: #4da8da;
}

#sidebar {
    height: 100vh;
    width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 6;
    position: fixed;
    right: 0;
    background-color: #4da8da;
    transition: width 0.5s;
}

#sidebar a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 1.5vw 0 1.5vw 0;
    padding: 1vw;
    width: 90%;
    text-align: center;
    border-radius: 5vw;
    white-space: nowrap;
    transition: background-color 0.2s;
}

#sidebar a:hover {
    background-color: #428eb8;
    color: white;
}

#close-button {
    color: white;
    font-size: 7vw;
    padding: 1vw 2.5vw 1vw 2.5vw;
    border-radius: 50%;
    position: absolute;
    top: 5vw;
    left: 5vw;
    cursor: pointer;
    transition: background-color 0.2s;
}

#close-button:hover {
    background-color: #428eb8;
}